/* class="webstore" */
@media (min-width: 1000px) {
    .webstore {
        width: 60%;
    }
}

@media (max-width: 1000px) {
    .webstore {
        width: 80%;
        margin-bottom: 50px;
    }
}

@media (max-width: 670px) {
    .webstore {
        width: 100%;
    }
}

/* class="sample_before" */
@media (min-width: 1000px) {
    .sample_before {
        width: 60%;
    }
}

@media (max-width: 1000px) {
    .sample_before {
        width: 80%;
        margin-bottom: 50px;
    }
}

@media (max-width: 670px) {
    .sample_before {
        width: 100%;
    }
}

/* class="sample_caret" */
@media (min-width: 1000px) {
    .sample_caret {
        width: 60%;
    }
}

@media (max-width: 1000px) {
    .sample_caret {
        width: 80%;
        margin-bottom: 50px;
    }
}

@media (max-width: 670px) {
    .sample_caret {
        width: 100%;
    }
}

/* class="text_extension" */
@media (min-width: 1000px) {
    .text_extension {
        width: 50%;
    }
}

@media (max-width: 1000px) {
    .text_extension {
        width: 65%;
        margin-bottom: 50px;
    }
}

@media (max-width: 670px) {
    .text_extension {
        width: 80%;
    }
}

/* class="sample_text" */
@media (min-width: 1000px) {
    .sample_text {
        width: 60%;
    }
}

@media (max-width: 1000px) {
    .sample_text {
        width: 80%;
        margin-bottom: 50px;
    }
}

@media (max-width: 670px) {
    .sample_text {
        width: 100%;
    }
}

/* class="sample_after" */
@media (min-width: 1000px) {
    .sample_after {
        width: 60%;
    }
}

@media (max-width: 1000px) {
    .sample_after {
        width: 80%;
        margin-bottom: 50px;
    }
}

@media (max-width: 670px) {
    .sample_after {
        width: 100%;
    }
}

/* class="show-hidden-files" */
@media (min-width: 1000px) {
    .show-hidden-files {
        width: 60%;
    }
}

@media (max-width: 1000px) {
    .show-hidden-files {
        width: 80%;
        margin-bottom: 50px;
    }
}

@media (max-width: 670px) {
    .show-hidden-files {
        width: 100%;
    }
}

/* class="trash" */
@media (min-width: 1000px) {
    .trash {
        width: 60%;
    }
}

@media (max-width: 1000px) {
    .trash {
        width: 80%;
        margin-bottom: 50px;
    }
}

@media (max-width: 670px) {
    .trash {
        width: 100%;
    }
}

/* class="files" */
@media (min-width: 1000px) {
    .files {
        width: 45%;
    }
}

@media (max-width: 1000px) {
    .files {
        width: 60%;
    }
}

@media (max-width: 670px) {
    .files {
        width: 90%;
    }
}

/* class="info" */
@media (min-width: 1000px) {
    .info {
        width: 45%;
    }
}

@media (max-width: 1000px) {
    .info {
        width: 60%;
    }
}

@media (max-width: 670px) {
    .info {
        width: 90%;
    }
}
