@media (min-width: 1000px) {
    .webstore {
        width: 65%;
    }
}

@media (max-width: 1000px) {
    .webstore {
        width: 80%;
        margin-bottom: 50px;
    }
}

@media (max-width: 670px) {
    .webstore {
        width: 100%;
    }
}


@media (min-width: 1000px) {
    .sample_caret {
        width: 70%;
    }
}

@media (max-width: 1000px) {
    .sample_caret {
        width: 80%;
        margin-bottom: 50px;
    }
}

@media (max-width: 670px) {
    .sample_caret {
        width: 100%;
    }
}

@media (min-width: 1000px) {
    .text_extension {
        width: 100%;
    }
}

@media (max-width: 1000px) {
    .text_extension {
        width: 80%;
        margin-bottom: 50px;
    }
}

@media (max-width: 670px) {
    .text_extension {
        width: 80%;
    }
}

@media (min-width: 1000px) {
    .sample_text {
        width: 70%;
    }
}

@media (max-width: 1000px) {
    .sample_text {
        width: 80%;
        margin-bottom: 50px;
    }
}

@media (max-width: 670px) {
    .sample_text {
        width: 100%;
    }
}
