* {
  margin:0; padding:0;
}
header {
  width: 100%;
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
}
header .headline{
  font-size: 32px;
}
.nav-list {
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
}
.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

.first {
    background-color: red;
}

.second {
  background-color: orange;
}

.button01 {
    background-color: green;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1em;
  }
  .button01:hover {
    color: white;
    opacity: 0.8;
  }


  .button02 {
    background-color: blue;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1em;
  }
  .button02:hover {
    color: white;
    opacity: 0.8;
  }
