.fullscreen-image {
  display: inline-block;   /* Specifying horizontal alignment */
  margin: 0px 5px 5px 0px; /* Surrounding margin amount(5px each on the right and bottom) */
}

.zero {
  background-color: pink;
}

.contents {
  background-color: lightgray;
}

.first {
    background-color: red;
}

.one {
  padding-top: 10px;
}

.answer {
  padding-left: 20px;
  padding-top: 10px;
}

.second {
  background-color: orange;
}

.two {
  padding-top: 10px;
}

.third {
  background-color: yellow;
}

.three {
  padding-top: 10px;
}

.fourth {
  background-color: green;
}

.four {
  padding-top: 10px;
}

.files_info {
  float: left;
  width: 20%;
  margin-left: 10px;
  margin-right: 10px;
}

.fifth {
  background-color: blue;
}

.five {
  padding-top: 10px;
}

.sixth {
  background-color: purple;
}

.six {
  padding-top: 10px;
}

.button01 {
    background-color: green;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1em;
  }
  .button01:hover {
    color: white;
    opacity: 0.8;
  }


  .button02 {
    background-color: blue;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1em;
  }
  .button02:hover {
    color: white;
    opacity: 0.8;
  }
